In [5]:
import matplotlib.pyplot as plt
import numpy as np
import xarray as xr
from netCDF4 import Dataset,num2date, date2num
import matplotlib.colors as colors

In [6]:
etopo1name=r'C:\Users\elp\OneDrive\Python_workspace\arctic2030\Data\ETOPO1_Ice_g_gmt4.nc'
etopo1 = xr.open_dataset(etopo1name)

In [7]:
print (etopo1)

<xarray.Dataset>
Dimensions:  (lat: 10801, lon: 21601)
Coordinates:
  * lon      (lon) float64 -180.0 -180.0 -180.0 -179.9 ... 180.0 180.0 180.0
  * lat      (lat) float32 -90.0 -89.98333 -89.96667 ... 89.96667 89.98333 90.0
Data variables:
    z        (lat, lon) float32 ...
Attributes:
    Conventions:  COARDS/CF-1.0
    title:        ETOPO1_Ice_g.int.grd
    history:      grdreformat ETOPO1_Ice_g.int.grd=ni ETOPO1_Ice_g.grd=ns
    GMT_version:  4.3.1b
    node_offset:  0

In [25]:
etopo1  = etopo1.where(((etopo1.lon > 6) & (etopo1.lon < 9)), drop = True)
etopo1  = etopo1.where(((etopo1.lat > 53.5) & (etopo1.lat < 55.2)), drop = True)    
etopo1 = etopo1.where(etopo1.z < 0, drop = True)

In [26]:
etopo1

<xarray.Dataset>
Dimensions:  (lat: 101, lon: 180)
Coordinates:
  * lon      (lon) float64 6.017 6.033 6.05 6.067 6.083 ... 8.95 8.967 8.983 9.0
  * lat      (lat) float32 53.516666 53.533333 53.55 ... 55.166668 55.183334
Data variables:
    z        (lat, lon) float32 -6.0 -5.0 -4.0 -2.0 -2.0 ... nan nan nan nan nan
Attributes:
    Conventions:  COARDS/CF-1.0
    title:        ETOPO1_Ice_g.int.grd
    history:      grdreformat ETOPO1_Ice_g.int.grd=ni ETOPO1_Ice_g.grd=ns
    GMT_version:  4.3.1b
    node_offset:  0

In [27]:
e = etopo1.to_dataframe()
e.describe()

                  z
count  16982.000000
mean     -21.018314
std       13.472013
min      -47.000000
25%      -33.000000
50%      -22.000000
75%       -8.000000
max       -1.000000

In [28]:
e

                      z
lat       lon
53.516666 6.016667 -6.0
          6.033333 -5.0
          6.050000 -4.0
          6.066667 -2.0
          6.083333 -2.0
...                 ...
55.183334 8.933333  NaN
          8.950000  NaN
          8.966667  NaN
          8.983333  NaN
          9.000000  NaN

[18180 rows x 1 columns]

In [43]:
ee = etopo1
print(ee.lon.values.shape)

(180,)

In [36]:
etopo1.lat

<xarray.DataArray 'lat' (lat: 101)>
array([53.516666, 53.533333, 53.55    , 53.566666, 53.583332, 53.6     ,
       53.616665, 53.633335, 53.65    , 53.666668, 53.683334, 53.7     ,
       53.716667, 53.733334, 53.75    , 53.766666, 53.783333, 53.8     ,
       53.816666, 53.833332, 53.85    , 53.866665, 53.883335, 53.9     ,
       53.916668, 53.933334, 53.95    , 53.966667, 53.983334, 54.      ,
       54.016666, 54.033333, 54.05    , 54.066666, 54.083332, 54.1     ,
       54.116665, 54.133335, 54.15    , 54.166668, 54.183334, 54.2     ,
       54.216667, 54.233334, 54.25    , 54.266666, 54.283333, 54.3     ,
       54.316666, 54.333332, 54.35    , 54.366665, 54.383335, 54.4     ,
       54.416668, 54.433334, 54.45    , 54.466667, 54.483334, 54.5     ,
       54.516666, 54.533333, 54.55    , 54.566666, 54.583332, 54.6     ,
       54.616665, 54.633335, 54.65    , 54.666668, 54.683334, 54.7     ,
       54.716667, 54.733334, 54.75    , 54.766666, 54.783333, 54.8     ,
       54.816666, 54.833332, 54.85    , 54.866665, 54.883335, 54.9     ,
       54.916668, 54.933334, 54.95    , 54.966667, 54.983334, 55.      ,
       55.016666, 55.033333, 55.05    , 55.066666, 55.083332, 55.1     ,
       55.116665, 55.133335, 55.15    , 55.166668, 55.183334], dtype=float32)
Coordinates:
  * lat      (lat) float32 53.516666 53.533333 53.55 ... 55.166668 55.183334
Attributes:
    long_name:     latitude
    units:         degrees_north
    actual_range:  [-90.  90.]

In [46]:
from bokeh.io import output_file, output_notebook, show
from bokeh.models import (
  GMapPlot, GMapOptions, ColumnDataSource, Circle, LogColorMapper, BasicTicker, ColorBar,
    DataRange1d, PanTool, WheelZoomTool, BoxSelectTool)

In [48]:

from bokeh.models.mappers import ColorMapper, LinearColorMapper
from bokeh.palettes import Viridis5

In [49]:

from bokeh.plotting import figure, show, output_file
from bokeh.tile_providers import get_provider, Vendors

output_file("tile.html")

tile_provider = get_provider(Vendors.CARTODBPOSITRON)

# range bounds supplied in web mercator coordinates
p = figure(x_range=(-2000000, 6000000), y_range=(-1000000, 7000000),
           x_axis_type="mercator", y_axis_type="mercator")
p.add_tile(tile_provider)

show(p)

ImportError: cannot import name 'get_provider'